.DropZone {
	width: 120px;
	height: 54px;
	font-family: Consolas;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #9090AA77;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	border: 1px solid #ffffff40;
	border-radius: 5px;
	/* cursor: alias; */
	transition: 0.4s;
}

.DropZone:hover {
	color: #ccccffcc;
	border: 1px solid #ffffffcc;
	box-shadow: 0 0 4px #d5d5ff;
	background-color: #AAAAFF20;
}

.DropZone-active {
	color: #ccccffcc;
	border: 1px solid #ffffffcc;
	box-shadow: 0 0 4px #d5d5ff;
	background-color: #AAAAFF20;
}