.Container {
	display: flex;
	background: inherit;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.ColumnContainer {
	flex-direction: column;
	min-width: max-content;
	/* min-height: 100%; */
}

.ColumnContainer>*:not(:first-child) {
	margin-top: 10px;
}

.RowContainer {
	flex-direction: row;
	/* min-width: 100%; */
	min-height: max-content;
}

.RowContainer>*:not(:first-child) {
	margin-left: 10px;
}

.WrapContainer {
	min-width: min-content;
	min-height: min-content;
	padding: 5px;
}

.WrapContainer>* {
	margin-top: 0;
	margin-left: 0;
	margin: 5px;
}

.ScrollContainer {
	scroll-behavior: smooth;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #606090 #101020;
}

/* Fix */
.TextFieldsContainer>* {
	align-items: flex-start;
	justify-content: space-between;
	width: 250px;
}