.Select {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Select-box {
	background: #10105000;
	background-image: linear-gradient(#02022077, #5050eeaa);
	transition: 0.25s;
	background-size: auto 200%;
	display: block;

	text-shadow: 0 0 5px #d5d5ff;
	/* text-shadow: 1px 1px 1px #000000; */
	border: 1px solid #5050ee;
	border-radius: 5px;

	font-family: Consolas;
	color: #eeeeff;
	width: 200px;
	height: 24px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	margin-left: 5px;
}

.Select-box:hover {
	background-position: bottom;
	border: 1px solid #eeeeff;
	box-shadow: 0 0 4px #d5d5ff;
}

.Select-box:active {
	background-image: linear-gradient(#01012077, #202090aa);
}

/* Зораза, работает только часть параметров во внутреннем списке */
.Select-option {
	background-color: #090940;
}