.Label {
	user-select: none;
	cursor: default;

	font-family: Consolas;
	font-size: 16px;
	background-color: transparent;
	color: white;
	caret-color: white;

	margin-right: 5px;

	text-shadow: 0 0 5px #CCCCFF;
	white-space: nowrap;
}

.Label::first-letter {
	color: yellow;
	text-shadow: 0 0 5px #FFFF77;
}