.Label {
	font-family: Consolas;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	user-select: none;
	cursor: default;
}

.Label-start {
	color: yellow;
	text-shadow: 0 0 5px #FFFF77;
}

.Label-other {
	color: white;
	text-shadow: 0 0 5px #CCCCFF;
	white-space: nowrap;
}